.gameWrapper
{
    width: 516px;
    height: 516px;
}

.boardWrapper
{
    width: 512px;
    height: 512px;
    background-color: #555;
    padding: 4px;
}

.gameWrapper img
{
    width: 64px;
    height: 64px;
}

#message
{
    height: 50px;
}

.line
{
    line-height: 0;
    height: 64px;
    overflow: hidden;
}

.score,
#counterwrap
{
    display: none;
}
